<template>
    <v-container>
        <v-container style="width:40%;">
            <v-combobox v-model="selclient" :items="clients" item-text="labelkey" label="Elija un Cliente:" v-on:change="clientSelected" return-object></v-combobox>
            <v-card class="max-auto">
                <v-card-text dense>
                    <resclient :clieinfo="selclient"/>
                </v-card-text>
            </v-card>
        </v-container>
        <div>
            <v-alert v-if="selclient==null" dense type="warning" style="margin-left:auto;margin-right:auto;width:40%;padding:10px;">
                <strong>Primero, Debe elegir un Cliente</strong>
            </v-alert>
        </div>
        <v-card style="width:95%;margin-left:auto;margin-right:auto;">
            <v-card-title>Accesos a Juegos:
                <div class="flex-grow-1"></div>
                <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
                <span style="margin-left:25px;"><accesoedit v-if="selclient!=null" title="Accesos" :editflag="false" @accesoAfterSave="saveAcceso"/></span>
            </v-card-title>
            <v-data-table :headers="headers" :items="accesos" :items-per-page="5" class="elevation-5" :search="search">
                <template v-slot:item.action="{item}">
                    <div style="display:flex;align-content:center;justify-content:space-evenly;">
                    <accesoedit title="Accesos" :editflag="true" :edititem="item" @accesoAfterSave="editAcceso"/>
                    <yesnomodal title="Confirmar Acción" showiconbutton="true" message="Desea eliminar esta información?" :itemtokill="item" @afteryesanswer="onYesAnswer"/>
                    </div>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>
<script>
import resclient from '../components/clientreview'
import yesnomodal from '../components/yesnomodal'
import accesoedit from '../components/accesoedit'

export default {
    components:{
        resclient, yesnomodal, accesoedit
    },
    data:()=>({
        search:null,
        selclient:null,
        clients:[],
        flgonce: false,
        editItem:null,
        headers:[
            {text:'Codigo', value:'codigo'},
            {text:'Juego', value:'juego'},
            {text:'Estado', value:'estado'},
            {text:'Fecha', value:'fecha'},
            {text:'', value:'action', sortable: false}
        ],
        accesos:[],
    }),
    updated(){
        if (!this.flgonce){
            this.loadClients();
            this.flgonce = true;
        }  
    },
    methods:{
        loadClients(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listusers/level/clie", config)
                .then(e=>{
                    if (e.data.obj != null){
                        this.clients = [];
                        e.data.obj.forEach(item => {
                        let euser ={
                            id_usu: item.id_usu,
                            labelkey: item.lastname + ", " + item.name,
                            name: item.name, lastname: item.lastname, username: item.username,phones: item.phones, 
                            address: item.address, email: item.email, roletype: item.roletype,
                            state: item.state
                        };
                        this.clients.push(euser);
                        })
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        onYesAnswer(e){
            var i = this.accesoIndexOf(e.codigo);
            if (i < 0) return;
            this.accesos.splice(i,1);
            this.updateGameDefsDB();
        },
        clientSelected(e){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listgame/"+e.id_usu, config)
                .then(e=>{
                    if (e.data.obj != null){
                        //console.log(e.data.obj[0])
                        this.accesos = JSON.parse(e.data.obj[0].gamedefs);
                        //console.log(this.locals);
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        saveAcceso(e){
            console.log(e);
            if (this.accesos ==null){
                console.log("accesos is null");
            }
            this.accesos.push(e.nuevo);
            this.updateGameDefsDB();
        },
        editAcceso(e){
            var idx = -1;
            idx = this.accesoIndexOf(e.viejo.codigo);
            if (idx > -1){
                this.accesos.splice(idx,1, e.nuevo);
            }
            this.updateGameDefsDB();
        },
        updateGameDefsDB(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            let info={
                id_usu: this.selclient.id_usu,
                gamedefs: JSON.stringify(this.accesos)
            }
            this.$http.post(this.$apiUrl+"/betserv/editgame", info, config)
                .then(e=>{
                    
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })

        },
        accesoIndexOf(codigo){
            var idx = -1;
            //get indexof element
            for(var i=0; i<this.accesos.length; i++){
                if (this.accesos[i].codigo === codigo){
                    idx = i;
                    break;
                }
            }
            return idx;
        }
    }

}
</script>