<template>
    <v-container>
        <v-container style="width:40%;">            
            <v-combobox v-model="selclient" :items="clients" item-text="labelkey" label="Elija un Cliente:" v-on:change="localSelected" return-object></v-combobox>
            <v-card class="max-auto">
                <v-card-text dense>
                    <resclient :clieinfo="selclient"/>
                </v-card-text>
            </v-card>
        </v-container>
        <div>
            <v-alert v-if="selclient==null" dense type="warning" style="margin-left:auto;margin-right:auto;width:40%;padding:10px;">
                <strong>Primero, Debe elegir un Cliente</strong>
            </v-alert>
        </div>
        <v-card style="width:95%;margin-left:auto;margin-right:auto;">
            <v-card-title>Locales Registrados:
                <div class="flex-grow-1"></div>
                <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
                <span style="margin-left:25px;"><localedit v-if="selclient!=null" title="Locales" :editflag="false" @localAfterSave="saveLocal"/></span>
            </v-card-title>
            <v-data-table :headers="headers" :items="locals" :items-per-page="5" class="elevation-5" :search="search">
                <template v-slot:item.action="{item}">
                    <div style="display:flex;align-content:center;justify-content:space-evenly;">
                    <localedit title="Locales" :editflag="true" :edititem="item" @localAfterSave="editLocal"/>
                    <yesnomodal title="Confirmar Acción" showiconbutton="true" message="Desea eliminar esta información?" :itemtokill="item" @afteryesanswer="onYesAnswer"/>
                    </div>
                </template>
            </v-data-table>
        </v-card>
        
    </v-container>
</template>
<script>
import resclient from '../components/clientreview'
import yesnomodal from '../components/yesnomodal'
import localedit from '../components/localedit'

export default {
    components:{
        resclient, localedit, yesnomodal
    },
    data:()=>({
        search:null,
        selclient:null,
        clients:[],
        flgonce: false,
        editItem:null,
        headers:[
            {text:'Local', value:'local'},
            {text:'Terminal', value:'terminal'},
            {text:'Sucursal', value:'sucursal'},
            {text:'Passcode', value:'passcode'},
            {text:'Fecha', value:'fecha'},
            {text:'Lema', value:'lema'},
            {text:'', value:'action', sortable: false}
        ],
        locals:[],
    }),
    updated(){
        if (!this.flgonce){
            this.loadClients();
            this.flgonce = true;
        }
        
    },
    methods:{
        loadClients(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listusers/level/clie", config)
                .then(e=>{
                    if (e.data.obj != null){
                        this.clients = [];
                        e.data.obj.forEach(item => {
                        let euser ={
                            id_usu: item.id_usu,
                            labelkey: item.lastname + ", " + item.name,
                            name: item.name, lastname: item.lastname, username: item.username,phones: item.phones, 
                            address: item.address, email: item.email, roletype: item.roletype,
                            state: item.state
                        };
                        this.clients.push(euser);
                        })
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        onYesAnswer(e){
            var i = this.localsIndexOf(e.local);
            if (i < 0) return;
            this.locals.splice(i,1);
            this.updateLocalsDB();
        },
        localSelected(e){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listlocal/"+e.id_usu, config)
                .then(e=>{
                    if (e.data.obj != null){
                        //console.log(e.data.obj[0])
                        this.locals = JSON.parse(e.data.obj[0].localdefs);
                        //console.log(this.locals);
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        saveLocal(e){
            this.locals.push(e.nuevo);
            this.updateLocalsDB();
        },
        editLocal(e){
            var idx = -1;
            idx = this.localsIndexOf(e.viejo.local);
            if (idx > -1){
                this.locals.splice(idx,1, e.nuevo);
            }
            this.updateLocalsDB();
        },
        updateLocalsDB(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            let info={
                id_usu: this.selclient.id_usu,
                localdefs: JSON.stringify(this.locals)
            }
            this.$http.post(this.$apiUrl+"/betserv/editlocal", info, config)
                .then(e=>{
                    
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })

        },
        localsIndexOf(localname){
            var idx = -1;
            //get indexof element
            for(var i=0; i<this.locals.length; i++){
                if (this.locals[i].local === localname){
                    idx = i;
                    break;
                }
            }
            return idx;
        }
    }
}
</script>