<template>
    <v-card>
        <v-card-title>Busqueda de Tickets:
            <div class="flex-grow-1"></div>
            <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
            <span style="margin-left:25px;"><v-btn @click="loadTickets">Buscar</v-btn></span>
        </v-card-title>
        <v-data-table :headers="headers" :items="tickets" :items-per-page="5" class="elevation-1" :search="search">
        </v-data-table>
    </v-card>
</template>
<script>
export default {
//number,code,date_emission,date_payment,store,terminal,local,num_bets,bonus,bet,tot_win,tot_odd,status,pagado,fpago,anulado,fanula,obs
    data:() =>({
        search:'',
        headers:[
            {text:'Número', value:'number'},
            {text:'Código', value:'code'},
            {text:'Emisión', value:'date_emission'},
            {text:'Sucursal', value:'store'},
            {text:'Terminal', value:'terminal'},
            {text:'Local', value:'local'},
            {text:'Estado', value:'status'}
        ],
        tickets:[]
    }),
    mounted(){
        this.loadTickets();
    },
    methods:{
        loadTickets(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/searchticket/"+this.search, config)
                .then(e=>{
                    console.log(e);
                    if (e.data.obj != null){
                        this.tickets = e.data.obj;
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        }
    }
}
</script>