<template>
    <v-card>
        <v-card-title>
            <v-text-field v-model="ticketBus" label="Número de Ticket:"></v-text-field><v-btn @click="buscarTicket">Buscar</v-btn>
        </v-card-title>
        <v-card-text>
            <v-row>
            <div class="ticketfields" style="width:150px; margin-right: 5px;">
                <ul>
                    <li v-for="tk in ticketFlds">
                        <v-chip class="ma-2" style="width:6rem;" color="blue" label text-color="white">{{tk}}</v-chip>
                    </li>
                </ul>
            </div>
            <div class="ticketfields" style="width:350px;">
                <ul :key="fldvaluekey">
                    <li v-for="tk in ticketVals">
                        <v-chip class="fieldValue" style="margin-top:10px; margin-bottom:15px;" label text-color="yellow">{{tk}}</v-chip>
                    </li>
                </ul>
            </div>
            <div>
                <v-card elevation="5">
                    <v-data-table :headers="headers" :items="betdet" :items-per-page="5" class="elevation-1">
                    </v-data-table>
                </v-card>
            </div>
            </v-row>
        </v-card-text>
        <v-card-actions>
            <v-btn>Reimprimir</v-btn>
            <yesnomodal title="Confirmar Acción" :showiconbutton="false" buttontext="Anular" message="Desea ANULAR este ticket?" @afteryesanswer="dlgAnular"/>
            <v-btn @click="checkWinner">Verificar si es Ganador</v-btn>
            <yesnomodal title="Confirmar Acción" :showiconbutton="false" buttontext="Pagar" message="Desea PAGAR este ticket?" @afteryesanswer="dlgPagar"/>
        </v-card-actions>
    </v-card>
</template>
<style scoped>
.ticketfields{
    width: 75rem;
    display: block;
    background-color: grey;
    border-radius: 15px;
}
.fieldValue{
    width: 15rem;
    display: block;
    background-color: red;
    border-radius: 15px;
}
</style>
<script>
import yesnomodal from '../components/yesnomodal'

export default {
    components:{
        yesnomodal
    },
    data:()=>({
        selticketid: 0,
        fldvaluekey:'xxx',
        ticketBus: '',
        ticketFlds:[
            "Número","Código","Fecha","Sucursal","Local","Terminal",
            "Estado","Anulado","Pagado","ID Clie","Obs"
        ],
        ticketVals:[],
        headers:[
            //{text:'EventID', value:'event_id'},
            {text:'MatchID', value:'match_id'},
            {text:'MarketID', value:'market_id'},
            {text:'OddID', value:'odd_id'},
            {text:'OddValue', value:'odd_value'},
            {text:'Stake', value:'stake'},
            {text:'Status', value:'status'}
        ],
        betdet:[]
    }),
    methods:{
        buscarTicket(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/seekticket/"+this.ticketBus, config)
                .then(e=>{
                    //console.log(e);
                    if (e.data.obj != null){
                        this.ticketVals = [];
                        let ticketSrc = e.data.obj;
                        //console.log(ticketSrc);
                        //this.ticketVals.push(ticketSrc.number);
                        this.selticketid = ticketSrc.id_ticket;
                        this.ticketVals.push(ticketSrc.id_ticket);
                        this.ticketVals.push(ticketSrc.code);
                        this.ticketVals.push(ticketSrc.date_emission);
                        this.ticketVals.push(ticketSrc.store);
                        this.ticketVals.push(ticketSrc.local);
                        this.ticketVals.push(ticketSrc.terminal);
                        this.ticketVals.push(ticketSrc.status);
                        
                        var sanula = '';
                        if (ticketSrc.anulado) {
                            sanula = "Si" + " " + this.millisToDate(parseInt(ticketSrc.fanula));
                        }else{
                            sanula = "No";
                        }
                        this.ticketVals.push(sanula);

                        var spagado = '';
                        if (ticketSrc.pagado) {
                            spagado = "Si" + " " + this.millisToDate(parseInt(ticketSrc.fpago));
                        }else{
                            spagado = "No";
                        }
                        this.ticketVals.push(spagado);
                        
                        this.ticketVals.push(ticketSrc.clientid);
                        this.ticketVals.push(ticketSrc.obs);
                        this.betdet = ticketSrc.bets;
                        //console.log(ticketSrc.bets);
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        filterMatch(){
            var res=[];
            res.push(this.betdet[0].match_id);
            for (var i=1; i<this.betdet.length; i++){
                let match = this.betdet[i].match_id;
                let r = res.indexOf(match);
                if (r<0){
                    res.push(match);
                }
            }
            return res;
        },
        getEventInfo(evinfo, onready){
            this.$pxml.parseString(evinfo,function(err,res){
                //console.log(res);
                let node = res.Result.FootballSingleMatchEvent[0].$;
                let nodres = res.Result.FootballSingleMatchEvent[0].Result[0].$;
                let mks = res.Result.FootballSingleMatchEvent[0].Market;
                let asianmks = res.Result.FootballSingleMatchEvent[0].AsianHandicapMarket;
                
                var matchEvent={
                    ID: node.ID, EventType:node.EventType, EventNumber:node.EventNumber, EventTime:node.EventTime, FinishTime:node.FinishTime, EventStatus:node.EventStatus, HomeTeam:node.HomeTeam, AwayTeam:node.AwayTeam, HomeTeamAbbr:node.HomeTeamAbbr, AwayTeamAbbr:node.AwayTeamAbbr, HomeTeamID:node.HomeTeamID, AwayTeamID:node.AwayTeamID,
                    Result:{
                        HomeScore:nodres.HomeScore, AwayScore:nodres.AwayScore
                    },
                    Markets:[],
                    AsianHMarkets:[]
                };
                
                for(var i=0; i<mks.length; i++){
                    let sels = mks[i].Selection;
                    var market={
                        ID:mks[i].$.ID, Description:mks[i].$.Description, WinningSelectionID:mks[i].$.WinningSelectionID,
                        selections:[]
                    }
                    for(var s=0; s<sels.length; s++){
                        var selection={
                            ID:sels[s].$.ID, Description:sels[s].$.Description, OddsDecimal:sels[s].$.OddsDecimal
                        }
                        market.selections.push(selection);
                    }
                    matchEvent.Markets.push(market);
                }

                for(var i=0; i<asianmks.length; i++){
                    let asels = asianmks[i].Selection;
                    var asianmarket={
                        ID:asianmks[i].$.ID, Description:asianmks[i].$.Description, Value:asianmks[i].$.Value, Split:asianmks[i].$.Split,
                        aselections:[]
                    }
                    for(var c=0; c<asels.length; c++){
                        var aselection={
                            ID:asels[c].$.ID, Description:asels[c].$.Description, OddsDecimal:asels[c].$.OddsDecimal, PayoutCode:asels[c].$.PayoutCode
                        }
                        asianmarket.aselections.push(aselection);
                    }
                    matchEvent.AsianHMarkets.push(asianmarket);
                }
                //console.log(matchEvent);
                onready(matchEvent);
            });
        },
        markWinners(src, winbets){
            var flgWin = false;
            //console.log(winbets);

            for (var i=0; i<src.length; i++){
                let chkMatchID = src[i].match_id;
                let chkMarketID = src[i].market_id;
                let chkOddID = src[i].odd_id;
                //console.log(chkMatchID);
                //console.log(chkMarketID);
                //console.log(chkOddID);
                //let chkOddValue = src[i].odd_value;
                
                for (var c=0; c<winbets.length; c++){
                    
                    if (winbets[c].ID === chkMatchID){
                        let mks = winbets[c].Markets;
                        for (var m=0; m<mks.length; m++){
                            
                            if (mks[m].ID === chkMarketID){
                                let winselID = mks[m].WinningSelectionID;
                                var winsels = null;
                                if (winselID.indexOf(",")>-1){
                                    winsels = winselID.split(",");
                                    for(var l=0; l<winsels.length; l++){
                                        if (winsels[l] === chkOddID){
                                            //console.log("flag true");
                                            flgWin = true;
                                            break;
                                        }
                                    }
                                }else{
                                    if (winselID === chkOddID){
                                        //console.log("flag true");
                                        flgWin = true;
                                        break;
                                    }
                                }
                            }
                        }
                        break;
                    }
                }

                if (flgWin){
                    src[i].status = "win";
                    flgWin = false;
                }else{
                    src[i].status = "--";
                }
            }

        },
        checkWinner(){
            let config = {
                headers: {
                    "Accept": "*/*",
                    "Content-Type": "application/xml",
                    "Access-Control-Allow-Origin": "*"
                }
            };

            //get unique match ids from bets
            var ubets = this.filterMatch();
            var k = 0;
            var kt = ubets.length;
            var winresults = [];
            //------------------------------------------------------
            var id = setInterval(()=>{ 
                k++;
                let anymatchid = ubets[k-1];
                //---------------------------------------------
                this.$http.get(this.$baseUrl+"/VseGameServer/DataService/Result/"+anymatchid, config)
                    .then(e=>{
                        //console.log(e);
                        if (e.data != null){
                            this.getEventInfo(e.data,(r)=>{
                                //console.log(r);
                                winresults.push(r);
                                if (winresults.length == ubets.length){
                                    this.markWinners(this.betdet, winresults);
                                }
                            });
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                        console.log(error.response);
                    })
                //---------------------------------------------
                if (k >= kt) {
                    clearInterval(id);
                }
                },2000);
            
        },
        dlgAnular(){
            var ms = new Date().getTime();
            let config = {
                headers: {
                    "Accept": "*/*",
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let info = {
	            "id_ticket"		: this.selticketid,
                "anulado" 		: true,
                "fanula"		: ms
            };
            this.$http.post(this.$apiUrl+"/betserv/cancelticket",info, config)
                .then(e=>{
                        this.changeAnulado(true,ms);
                        this.fldvaluekey = 'mmm';
                    })
                .catch(error =>{
                    console.log(error);
                })
        },
        dlgPagar(){
            var ms = new Date().getTime();
            let config = {
                headers: {
                    "Accept": "*/*",
                    "Content-Type": "application/json",
                    "Access-Control-Allow-Origin": "*"
                }
            };
            let info ={               
                "id_ticket"		: this.selticketid,
                "pagado" 		: true,
                "fechahoy"		: ms
            }
            this.$http.post(this.$apiUrl+"/betserv/payticket",info, config)
                .then(e=>{
                        this.changePagado(true,ms);
                        this.fldvaluekey = 'yyy';
                    })
                .catch(error =>{
                    console.log(error);
                })
        },
        changeAnulado(flag, nfecha){
            //index : 7
            this.ticketVals[7] = (flag?"Si":"No")+" "+this.millisToDate(nfecha);
        },
        changePagado(flag, nfecha){
            //index : 8
            let s = (flag?"Si":"No")+" "+this.millisToDate(nfecha);
            this.ticketVals[8] = s;
            //document.getElementById("lb8").innerText = s;
        },
        millisToDate(millis){
            var d = new Date(millis);
            return d.customFormat("#DD#/#MM#/#YYYY# #hh#:#mm#:#ss#");
        }
    }
}
</script>