<template>
    <v-container>
        <v-container style="width:40%;">
            <v-combobox v-model="selclient" :items="clients" item-text="labelkey" label="Elija un Cliente:" v-on:change="clientSelected" return-object></v-combobox>
            <v-card class="max-auto">
                <v-card-text dense>
                    <resclient :clieinfo="selclient"/>
                </v-card-text>
            </v-card>
        </v-container>
        <div>
            <v-alert v-if="selclient==null" dense type="warning" style="margin-left:auto;margin-right:auto;width:40%;padding:10px;">
                <strong>Primero, Debe elegir un Cliente</strong>
            </v-alert>
        </div>
        <v-card style="width:95%;margin-left:auto;margin-right:auto;">
            <v-card-title>Numeración de Tickets:
                <div class="flex-grow-1"></div>
                <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
                <span style="margin-left:25px;"><ticketedit v-if="selclient!=null" title="Tickets" :editflag="false" @ticketAfterSave="saveTicket"/></span>
            </v-card-title>
            <v-data-table :headers="headers" :items="tickets" :items-per-page="5" class="elevation-5" :search="search">
                <template v-slot:item.action="{item}">
                    <div style="display:flex;align-content:center;justify-content:space-evenly;">
                        <ticketedit title="Tickets" :editflag="true" :edititem="item" @ticketAfterSave="editTicket"/>
                        <yesnomodal title="Confirmar Acción" showiconbutton="true" message="Desea eliminar esta información?" :itemtokill="item" @afteryesanswer="onYesAnswer"/>
                    </div>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>
<script>
import resclient from '../components/clientreview'
import yesnomodal from '../components/yesnomodal'
import ticketedit from '../components/ticketedit'

export default {
    components:{
        resclient, ticketedit, yesnomodal
    },
    data:()=>({
        search:null,
        selclient:null,
        clients:[],
        flgonce: false,
        editItem:null,
        headers:[
            {text:'Serie', value:'serie'},
            {text:'Número Inicial', value:'numini'},
            {text:'Número Actual', value:'numactual'},
            {text:'Última Fecha', value:'fechahoy'},
            {text:'Printer IP', value:'printerip'},
            {text:'', value:'action', sortable: false}
        ],
        tickets:[],
    }),
    updated(){
        if (!this.flgonce){
            this.loadClients();
            this.flgonce = true;
        }
        
    },
    methods:{
        loadClients(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listusers/level/clie", config)
                .then(e=>{
                    if (e.data.obj != null){
                        this.clients = [];
                        e.data.obj.forEach(item => {
                        let euser ={
                            id_usu: item.id_usu,
                            labelkey: item.lastname + ", " + item.name,
                            name: item.name, lastname: item.lastname, username: item.username,phones: item.phones, 
                            address: item.address, email: item.email, roletype: item.roletype,
                            state: item.state
                        };
                        this.clients.push(euser);
                        })
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        onYesAnswer(e){
            var i = this.ticketsIndexOf(e.serie,e.numini);
            if (i < 0) return;
            this.tickets.splice(i,1);
            this.updateTicketsDB();
        },
        clientSelected(e){
            this.tickets = [];
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            this.$http.get(this.$apiUrl+"/betserv/listticket/"+e.id_usu, config)
                .then(e=>{
                    if (e.data.obj != null){
                        let src = e.data.obj[0].ticketdefs;
                        //console.log(e.data.obj[0])
                        if (src != ''){
                            this.tickets = JSON.parse(src);//id_usu; ticketdefs
                        }
                    }
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })
        },
        saveTicket(e){
            this.tickets.push(e.nuevo);
            this.updateTicketsDB();
        },
        editTicket(e){
            var idx = -1;
            //console.log(e);
            idx = this.ticketsIndexOf(e.viejo.serie,e.viejo.numini);
            console.log(idx);
            if (idx > -1){
                this.tickets.splice(idx,1, e.nuevo);
            }
            this.updateTicketsDB();
        },
        updateTicketsDB(){
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
            let info={
                id_usu: this.selclient.id_usu,
                ticketdefs: JSON.stringify(this.tickets)
            }
            console.log(info)
            this.$http.post(this.$apiUrl+"/betserv/editticket", info, config)
                .then(e=>{
                    
                })
                .catch(error =>{
                    console.log(error);
                    //console.log(error.response.headers);
                })

        },
        ticketsIndexOf(serie, num){
            var idx = -1;
            //get indexof element
            for(var i=0; i<this.tickets.length; i++){
                let tt = this.tickets[i];
                if ((tt.serie === serie)&&(tt.numini === num)){
                    idx = i;
                    break;
                }
            }
            return idx;
        }
    }
}
</script>