<template>
    <v-dialog v-model="dialog" persistent max-width="660">
        <template v-slot:activator="{on}">
            <v-icon v-if="editflag" style="" small v-on="on" @click="beforeEdit">edit</v-icon>
            <v-btn v-else color="primary" dark v-on="on" @click="beforeNuevo">Nuevo</v-btn>
        </template>
        <v-form v-model="valid" style="padding:30px;">
            <v-card style="padding:30px;">
                <v-card-title>{{(editflag?"Modificando en ":"Creando en ") + title}}</v-card-title>
                <v-card-text>
                    <v-row><v-text-field v-model="l_codigo" label="Código"/></v-row>
                    <v-row><v-text-field v-model="l_juego" label="Juego"/></v-row>
                    <v-row><v-text-field v-model="l_estado" label="Estado"/></v-row>
                    <v-row><v-text-field v-model="l_fecha" label="Fecha"/></v-row>
                </v-card-text>
            </v-card>
            <v-card-actions style="padding:15px;">
                <v-btn color="primary" @click="saveAcceso">Guardar</v-btn>
                <v-btn color="error" @click="cancelAcceso">Cancelar</v-btn>
            </v-card-actions>
        </v-form>
    </v-dialog>
</template>
<script>
export default {
    props:['title','editflag','edititem'],
    data:()=>({
        oldedititem: null,
        flgonce: false,
        sellocal: null,
        dialog: false,
        valid: false,
        l_codigo:'', l_juego:'', l_estado:'', l_fecha:'',
    }),
    methods:{
        cleanAcceso(){
            this.l_codigo=''; this.l_juego=''; this.l_estado=''; this.l_fecha='';
        },
        beforeNuevo(){
            this.cleanAcceso();
        },
        beforeEdit(){
            if (this.edititem != null){
                this.l_codigo=this.edititem.codigo; this.l_juego=this.edititem.juego; 
                this.l_estado=this.edititem.estado; this.l_fecha=this.edititem.fecha; 
                this.oldedititem = this.edititem;
            }
        },
        saveAcceso(){
            let newAcceso = {
                codigo: this.l_codigo, juego: this.l_juego, 
                estado: this.l_estado, fecha: this.l_fecha
            }
            this.$emit('accesoAfterSave', {nuevo: newAcceso, viejo: this.oldedititem});
            
            this.dialog = false;
            this.flgonce = false;
        },
        cancelAcceso(){
            this.dialog = false;
            this.flgonce = false;
        }
    }
}
</script>