<template>
    <v-dialog v-model="dialog" persistent max-width="660">
        <template v-slot:activator="{on}">
            <v-icon v-if="editflag" style="" small v-on="on" @click="beforeEdit">edit</v-icon>
            <v-btn v-else color="primary" dark v-on="on" @click="beforeNuevo">Nuevo</v-btn>
        </template>
        <v-form v-model="valid"  style="padding:30px;">
            <v-card style="padding:30px;">
                <v-card-title>{{(editflag?"Modificando en ":"Creando en ") + title}}</v-card-title>
                <v-card-text>
                    <v-row><v-text-field v-model="l_local" label="Local"/></v-row>
                    <v-row><v-text-field v-model="l_terminal" label="Terminal"/></v-row>
                    <v-row><v-text-field v-model="l_sucursal" label="Sucursal"/></v-row>
                    <v-row><v-text-field v-model="l_passcode" label="Passcode"/></v-row>
                    <v-row><v-text-field v-model="l_fecha" label="Fecha"/></v-row>
                    <v-row><v-text-field v-model="l_lema" label="Lema"/></v-row>
                </v-card-text>
            </v-card>
            <v-card-actions style="padding:15px;">
                <v-btn color="primary" @click="saveLocal">Guardar</v-btn>
                <v-btn color="error" @click="cancelLocal">Cancelar</v-btn>
            </v-card-actions>
        </v-form>
    </v-dialog>
</template>
<script>
export default {
    props:['title','editflag','edititem'],
    data:()=>({
        oldedititem: null,
        flgonce: false,
        sellocal: null,
        dialog: false,
        valid: false,
        l_local:'', l_terminal:'', l_sucursal:'', l_passcode:'', l_fecha:'', l_lema:'',
        //locals:[],
    }),
    methods:{
        cleanLocal(){
            this.l_local=''; this.l_terminal=''; this.l_sucursal=''; this.l_passcode=''; this.l_fecha=''; this.l_lema='';
        },
        beforeNuevo(){
            this.cleanLocal();
        },
        beforeEdit(){
            if (this.edititem != null){
                this.l_local=this.edititem.local; this.l_terminal=this.edititem.terminal; 
                this.l_sucursal=this.edititem.sucursal; this.l_fecha=this.edititem.fecha; 
                this.l_passcode = this.edititem.passcode;
                this.l_lema=this.edititem.lema;
                this.oldedititem = this.edititem;
            }
        },
        saveLocal(){
            let newlocal = {
                local: this.l_local, terminal: this.l_terminal, 
                sucursal: this.l_sucursal, passcode: this.l_passcode, fecha: this.l_fecha, lema: this.l_lema
            }
            this.$emit('localAfterSave', {nuevo: newlocal, viejo: this.oldedititem});
            
            this.dialog = false;
            this.flgonce = false;
        },
        cancelLocal(){
            this.dialog = false;
            this.flgonce = false;
        }
    }
}
</script>
