<template>
    <v-dialog v-model="dialog" persistent max-width="660">
        <template v-slot:activator="{on}">
            <v-icon v-if="editflag" style="" small v-on="on" @click="beforeEdit">edit</v-icon>
            <v-btn v-else color="primary" dark v-on="on" @click="beforeNuevo">Nuevo</v-btn>
        </template>
        <v-form v-model="valid" style="padding:30px;">
            <v-card style="padding:30px;">
                <v-card-title>{{(editflag?"Modificando en ":"Creando en ") + title}}</v-card-title>
                <v-card-text>
                    <v-row><v-text-field v-model="l_serie" label="Serie"/></v-row>
                    <v-row><v-text-field v-model="l_numini" label="Num Inicio"/></v-row>
                    <v-row><v-text-field v-model="l_numactual" label="Num Actual"/></v-row>
                    <v-row><v-text-field v-model="l_fechahoy" label="Última Fecha"/></v-row>
                    <v-row><v-text-field v-model="l_printerip" label="PrinterIP"/></v-row>
                </v-card-text>
            </v-card>
            <v-card-actions style="padding:15px;">
                <v-btn color="primary" @click="saveTicket">Guardar</v-btn>
                <v-btn color="error" @click="cancelTicket">Cancelar</v-btn>
            </v-card-actions>
        </v-form>
    </v-dialog>
</template>
<script>
export default {
    props:['title','editflag','edititem'],
    data:()=>({
        oldedititem: null,
        flgonce: false,
        sellocal: null,
        dialog: false,
        valid: false,
        l_serie:'', l_numini:'', l_numactual:'', l_fechahoy:'',l_printerip:''
    }),
    methods:{
        cleanTicket(){
            this.l_serie=''; this.l_numini=''; this.l_numactual=''; this.l_fechahoy=''; this.l_printerip='';
        },
        beforeNuevo(){
            this.cleanTicket();
        },
        beforeEdit(){
            if (this.edititem != null){
                this.l_serie=this.edititem.serie; this.l_numini=this.edititem.numini; 
                this.l_numactual=this.edititem.numactual; this.l_fechahoy=this.edititem.fechahoy; this.l_printerip=this.edititem.printerip;
                this.oldedititem = this.edititem;
            }
        },
        saveTicket(){
            let newticket = {
                serie: this.l_serie, numini: this.l_numini, 
                numactual: this.l_numactual, fechahoy: this.l_fechahoy, printerip: this.l_printerip,
            }
            this.$emit('ticketAfterSave', {nuevo: newticket, viejo: this.oldedititem});
            
            this.dialog = false;
            this.flgonce = false;
        },
        cancelTicket(){
            this.dialog = false;
            this.flgonce = false;
        }
    }
}
</script>