<template>
  
    <v-dialog v-model="dialog" persistent max-width="350">
      <template v-slot:activator="{ on }">
        <v-icon v-if="showiconbutton" small v-on="on">delete</v-icon>
        <v-btn v-else v-on="on">{{buttontext}}</v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">{{title}}</v-card-title>
        <v-card-text>{{message}}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="primary" text @click="yesAnswer">Sí</v-btn>
          <v-btn color="error" text @click="noAnswer">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  
</template>
<script>
  export default {
    props:['title','message','itemtokill','showiconbutton','buttontext'],
    data () {
      return {
        dialog: false
      }
    },
    methods:{
        yesAnswer(){
            this.dialog = false;
            this.$emit('afteryesanswer',this.itemtokill);
        },
        noAnswer(){
            this.dialog = false;
        }
    }
  }
</script>