<template>
  <v-app>
    <v-navigation-drawer app clipped v-model="drawer">
      <v-list shaped>
        <v-list-item-group color="primary">
          <v-subheader class="mt-4 grey--text text--darken-1 subheadback">GENERAL</v-subheader>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title @click="gotoOwnerList">Dueños</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title @click="gotoClientList">Clientes</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title @click="gotoLocales">Locales</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title @click="gotoAccesos">Acceso a Juegos</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title @click="gotoTicketsEnum">Tickets</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          <v-subheader class="mt-4 grey--text text--darken-1 subheadback">TAREAS</v-subheader>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title @click="gotoSearchTickets">Buscar Tickets</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title @click="gotoTicketGanador">Tickets Ganadores</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title @click="gotoDashboard">Dashboard</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
        <v-subheader class="mt-4 grey--text text--darken-1 subheadback">Dashboard</v-subheader>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Mejores Apuestas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Venta de Tickets</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-subheader class="mt-4 grey--text text--darken-1 subheadback">Configuración</v-subheader>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Lista de Juegos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Ligas de Fútbol</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Categorías-Eventos</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Tipos de Apuestas</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app clipped-left color="red" dense>
      <v-app-bar-nav-icon @click.stop="drawer=!drawer"></v-app-bar-nav-icon>
      <v-icon class="mx-4">fab fa-youtube</v-icon>
      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Sistema de Administración Bet</span>
      </v-toolbar-title>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>
<style scoped>
.subheadback{
  background-color: lightgrey;
  border-radius: 15px;
  height:30px;
  margin: 2px;
}
</style>
<script>
export default {
  name: 'App',
  components: {
    
  },
  data: () => ({
    drawer: null
  }),
  created(){
    this.$vuetify.theme.dark = true;
  },
  methods:{
    gotoOwners(){
      this.$router.push('/owners');
    },
    gotoOwnerList(){
      this.$router.push('/userlist/1');
    },
    gotoClientList(){
      this.$router.push('/userlist/2');
    },
    gotoLocales(){
      this.$router.push('/user/locals');
    },
    gotoAccesos(){
      this.$router.push('/user/gameacc');
    },
    gotoTicketsEnum(){
      this.$router.push('/user/tickets');
    },
    gotoSearchTickets(){
      this.$router.push('/tickets/buscar');
    },
    gotoTicketGanador(){
      this.$router.push('/tickets/esgana');
    },
    gotoDashboard(){
      this.$router.push('/dashboard/showit')
    }
  }
};
</script>
